<div class="row" style="margin-top: 30px;">
	<div class="span4">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>
  <%= devise_error_messages! %>

	<fieldset>
		<legend>sign up</legend>
		<%= f.input :first_name %>
		<%= f.input :last_name %>

	  	<%= f.input :profile_name %>
	 

	 	<%= f.input :email %>


		<%= f.input :password %>
	  	<%= f.input :password_confirmation %>

	  	<div><%= f.button :submit, "Sign up", :class => 'btn btn-info'%></div>
	</fieldset>
<% end %>

<%= render "devise/shared/links" %>
	</div>
<div class="span1">
</div>
	<div class="span7">
		<h2>how trendy are you?</h2>
		<img src="http://thumbs.dreamstime.com/z/man-male-woman-female-fashion-shopping-model-17834562.jpg" alt="TrendCommons" width="350px" height="350px">
	</div>	
</div>

