<div class="container" style="margin-top:  25px;">
  <div class="span3">
    <h1>the latest</h1>
   </div>
   <div class="span8">
    <%= link_to "new status", new_status_path, class: "btn-stat"%>
   </div>
</div>    
<div class="page-header" style="margin-top: -10px; border-color: #4a9586"></div>



<% @statuses.reverse_each do |status| %>
<div class="status">
  <div class="row">
    <div class="span1">
      <%= image_tag status.user.gravatar_url  %>
    </div>
     
    <div class="span7">
      <strong><%=status.user.profile_name %></strong>
      <p><%= status.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        <span class="admin">
         | <%= link_to "Edit", edit_status_path(status) %> |
          <%= link_to "Delete", status, method: :delete, data: { confirm: "Delete Status?"} %>
        </span>
       </div> 
    </div>
  </div>  
</div>



<% end %>