   
<div class="splash3">  
    <div class="blank">
        <div class="logoblank">    
            <%= image_tag("TC-Logo.png", :class => 'logo')  %>
        </div>   
     </div>
    <div class="plum">
        <div class="vinegar">
          <!--  <h1 class="plh2 signup">we're launching soon. want to join? we'll let you know when we're ready.</h1> -->
            <div class="summer"> 
                <form action="http://trendcommons.createsend.com/t/d/s/ijlyl/" method="post">
                    <div class="autumn">
                        <label class="flabel" for="fieldName">Name<span class="asterik">*</span></label><br />
                        <input class="ffield" id="fieldName" name="cm-name" type="text" required/><br /><br />
                        <label class="flabel" for="fieldEmail">Email<span class="asterik">*</span></label><br />
                        <input class="ffield" id="fieldEmail" name="cm-ijlyl-ijlyl" type="email" required /><br /><br />
                        <br />
                        <button class="btn-stat lrg" type="submit">Add Me to the Wait List</button>
                    </div>
                </form>
            </div>           
        </div> 


        <div class="applecider">
            <div>    
                <h1 class="plh3">welcome to the social trend graph and marketplace, where your level of style and trendiness is actually worth something. we're launching soon, we'll let you know when we're ready.</h1> 
                <br/>
                <br/>
                <br/>
                <%= image_tag("camera.png", :class => 'icon') %><p class="normal">post your <span class="spanpurp">styles and trends.</span> new shoes? new scarf? tell the world.</p>
                <br/>
                <br/>
                <%= image_tag("stats.png", :class => 'icon stats clearfix') %><p class="normal">watch your <span class="spanpurp">TrendScore</span> rise and fall based on what the TC community thinks of your style. </p>
                 <br/>
                <br/>
                <%= image_tag("gift.png", :class => 'icon gift clearfix') %><p class="normal"><span class="spanpurp">unlock</span> badges, offers, and exclusive deals from big name brands. the higher your TrendScore, the more you unlock.  </p>
                <br/>
                <br/>
                <%= image_tag("coin.png", :class => 'icon coin clearfix') %><p class="normal"> check out the TrendMarket, a place to <span class="spanpurp">buy and sell</span> fashionable items. like an online consignment shop.</p>


            </div>    
        </div>    
        
    </div>    
    <div>
        <br/>
        <br/>
        <p style="font-weight: bold; color: rgb(122, 69, 122); text-align: center;">Copyright &copy; 2013 TrendCommons</p>
    </div>  
</div>    