<!DOCTYPE html>
<html>
<head>
  <title>TrendCommons</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><%= link_to "TC", latest_path, :class => "brand" %> 
				</ul>		
				<ul class="nav">
					<li><%= link_to "the latest", latest_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to current_user.profile_name, edit_profile_path %></li>
						<li><%= link_to "log out", logout_path %></li>
					<% else %>
						<li><%= link_to "register", register_path %></li>
						<li><%= link_to "log in", login_path %> 	
					<% end %>
				</ul>	
				</div>
		</div>
	</div>
	<div class="snow">	
		<div class="container">
			<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %>">
					<button class="close" data-dismiss="alert">x</button>
					<%= message %>
				</div>	
			<% end %>
			



			<%= yield %><br/>
		</div>
	</div>	

</body>
</html>
